/* Add CSS styling here */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
   box-sizing: border-box;
   margin:0;
   padding:0;
   max-width:100%;
   border: 0px solid black;
  
}
/*General Styles*/
html{
   font-size:62.5%;
}
body{
   font-size:1.8rem;
   color:#666666;
   line-height:1.5;
   font-family: 'PT Sans', sans-serif;
   background-color:#FFFAFA;
}
h1, h2, h3{
   font-family: 'Nunito', sans-serif;
   text-align:center;
}
h1{
   font-size:5rem;
}
h2{
   font-size:3.5rem;
}
h3{
   font-size:2.5rem;
}
section{
   padding:4% 0;
}
a{
   text-decoration:none;
   color:#666666;
}


/* Header section */
header {
    display: flex;
    justify-content: center;
}

.navDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.linkcolor {
    display: flex;
    justify-content: center;
    font-size: 70%;
    color: #666666;
    border-radius: 2px;
    padding: 6px 31px;
    width: 17%;
    background-image: none;
    border: 1px solid #666666;
   
}

.linkcolor:hover {
    color: white;
    background-color: rgb(56, 56, 56);
}

.links {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 1px;
    
}
 .firstP {
     width: 80%;
     text-align: center;
 }



/* BG of people working with heigh of vh*/

#secondBG {
    height: 45vh;
    background-image: url(../images/meeting.jpg);
    background-attachment: local;
    background-size: cover;
    margin: 2%;
}


/*bottom section */




.bottomDiv {
    display: flex;
    justify-content: space-around;
    margin: 2%;
}

.leftDiv {
    display: flex;
    justify-content: none;

}

.images {
    width: 24%;
    padding: 1%;
    
}


.rightDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
    
}

.rightDiv p{
    width: 20vh;
}


/*Footer section*/

footer {
    display: flex;
    
    padding: 2%;
    margin-bottom: 10vh;
    justify-content: space-between;
    align-items: baseline;
}   


.button:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.button:active {
	position:relative;
	top:1px;
}

.logos {
    width: 20%;
}

.socialMedia {
   display: flex;
    width: 50%;
    display: flex;

}

.icons {
    padding: 5%;
}


/* /////////////////////////////////////////////////////////////
Media Queries */

@media(max-width: 800px) {
    /* if the screen is 800 pixels or smaller apply these styles */

}
/* Settings at 800px and bellow are fine now will look at 500 pixels 
bellow */

@media(max-width: 500px) {
    /* if the screen is 500 pixels or smaller apply these styles */
   .links {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }


    .linkcolor {
    display: flex;
    justify-content: center;
    font-size: 100%;
    color: #666666;
    border-radius: 2px;
    padding: 6px 31px;
    width: 60%;
    background-image: none;
    border: 1px solid #666666;
   
    }

    .bottomDiv {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 2%;
    }

    .leftDiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 3%;
    }

    .images {
        width: 44%;
        padding: 1%;
        
    }

    .rightDiv {
        display: flex;
        justify-content: center;
        width: 90%;
    }

    .rightDiv p {
        width: 100%;
        text-align: center;
    }

    footer {
        display: flex;
        flex-direction: column;
        padding: 2%;
        margin-bottom: 10vh;
        justify-content: space-between;
        align-items: center;
    }   
    
    .socialMedia {
        width: 80%;
    }




}



